In [25]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('sqlite:///foo.db')

In [28]:
df = pd.read_csv("2009_2016_LACounty_Data.csv")

In [29]:
df = df.to_sql(name="la_county_income", con=engine)

ValueError: Table 'la_county_income' already exists.